---
title: Hello this is index page
layout: base.njk 
---

<div class="container">
    <h1>My Single Page site jamstack</h1>
    <div class="vibe">
        hello world
    </div>
</div>
<div class="love">
    ❤️
</div>
<script src='/js/vibe.js'></script>