---
title: Hello this is index page
layout: base.njk 
---

<div class="container">
    <h1>My Single Page site jamstack</h1>
    <div class="vibe">
        hello world
    </div>
</div>
<div class="love">
    ❤️
</div>
<div class="container">
<ul>
    {% for article in news.articles %}
    <li>
        <h2> <a href="{{ article.url }}" >{{ article.title }} </a> </h2>
        <span>{{ article.source.name }} - {{ article.publishedAt }}</span>

        </li>
    {% endfor %}
</ul>
</div>
<script src='/js/vibe.js'></script>